div#kyureki{
	font-size: small;
	color: olive;
}
div.item_date {
	float:left;
	width:100px;
}

div.item_nominal {
	float:left;
	width:80px;
}

div.item_price{
	float:left;
	width:60px;
	text-align:right;
	margin-right:20px
}

div.item_even {
	padding:2px;
	clear:both;
	background-color:#ffddff;
}

div.item_odd{
	padding:2px;
	clear:both;
	background-color:#ffffff;
}
